.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    margin-top: 32px;
    white-space: pre-line;
}

@media screen and (max-width: 550px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}