.intro {
    margin: 0;
    color: #FFFFFF;
    min-height: 429px;
    margin-top: 92px;
}

@media screen and (max-width: 768px) {
    .intro {
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        min-height: 754px;
        margin-top: 64px;
    }
}