.cover {
    color: #FFFFFF;
    margin: 0 auto;
    min-width: 1024px;
    min-height: 640px;
    margin-top: 92px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}