.photo-grid__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 14px;
    justify-items: stretch;
    align-items: stretch;
}