.footer {
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 92px;
    padding: 24px 48px;
    padding-top: 0;
    min-width: 928px;
    min-height: 18px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}