.header__lang-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    column-gap: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        padding-top: 10%; 
    }
}

